html body {
  background-color: #fff;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}